<% Object.keys(messages).forEach(function (type) { %>
<section class="alert alert-<%= type %>">
    <% messages[type].forEach(function (message) { %>
        <%= message %>
    <% }) %>
</section>
<% }) %>